@import url('../Fonts/fonts.css');
@import url('../Colors/colors.css');

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.logo{
    text-transform: uppercase;
    font-family: var(--Oswald);
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    letter-spacing: 0.06em;
    position: relative;
    height: max-content;
    width: max-content;
    padding-top: 3px;

    &::before{
        content: '';
        position: absolute;
        width: 25.09px;
        height: 6.13px;
        left: 0;
        top: 0;
        background: #3C3B3B;
        border-radius: 38px;
    }
}

.logo-two{
    text-transform: uppercase;
    font-family: var(--Oswald);
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    letter-spacing: 0.06em;
    position: relative;
    height: max-content;
    width: max-content;
}

.bubble1{
    position: absolute;
    width: 434.15px;
    height: 447.69px;
    left: -93.6px;
    top: -186px;
    background: var(--Gradient-1);
    border-radius: 50%;
    z-index: -1;
}

header{
    // padding: 1rem 0rem;
    display: flex;
    justify-content:space-between;
}

.container{
    padding: 1rem 5rem;
}
.hero{
    height:75vh;
    width:100%;
    display: grid;
    align-items: center;
}
main{
    width:100%;

    .content{
        text-align: center;

        h1{
            font-family: var(--Quicksand);
            font-size: 45px;
            height: max-content;
            font-style: normal;
            font-weight: 500;
        }

        p{
            font-family: var(--Quicksand);
            font-size: 17px;
            height: max-content;
            font-style: normal;
            font-weight: 500;
            line-height: 25px;
        }
    }

    .img{
        width:100%;
        display: grid;
        justify-items: center;
        align-items: center;

        img{
            width: 900px;
            margin-top: 10px;
        }
    }
}

.hero-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .author{
        font-family: var(--Oswald);
        margin: 0;
    }

    svg{
        margin: 0;
    }
}